.subject {
    border: 1px solid #D1CACA;
    border-radius: 40px;
    background-color: #ffffff;
    margin-bottom: 1rem;
    margin-top: 10px;
    margin-left: 10px;
    width: 250px;
    height: 100px;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
 }
 
 .span {
    margin-left: 60px;
    margin-top: 38px;
 }
 
 .news_content {
    font-size: 20px;
    word-wrap: break-word;
    padding: 25px 18px 6px 18px;
 }
 
 .img_news {
    width: 175px;
    height: 112px;
    border: 1px solid #D1CACA;
    border-radius: 40px;
 }
 
 