.container {
   height: 100vh;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   margin-top: 2px;
}

.card {
   width: 50%;
   margin: auto;
   margin-top: 50px;
}

* h1 {
   width: 100%;
   display: flex;
   justify-content: center;
   margin: 0px;
   padding: 20px 0px 0px 18px;
   font-size: 40px;
   height: 43px;
}

.square {
   flex: 1 1 100%
}

.rect {
   flex: 1 1 47%;
}



.columnContentPost {

   display: inline-block;
   margin-top: 1px;
   width: 100%;
   border-style: inset;
   overflow: auto;
   
}

.Filecontent {
   max-width: calc(100% / 3);
}

.selectSemester {
   width: 170px;
   height: 21px;
   margin-left:1100px;
}

.top {
   height: 150px;
}