:root {
   --red: hsl(0, 78%, 62%);
   --cyan: hsl(180, 62%, 55%);
   --orange: hsl(34, 97%, 64%);
   --blue: hsl(212, 86%, 64%);
   --varyDarkBlue: hsl(234, 12%, 34%);
   --grayishBlue: hsl(229, 6%, 66%);
   --veryLightGray: hsl(0, 0%, 98%);
   --weight1: 200;
   --weight2: 400;
   --weight3: 600;
}

.card {
   border-radius: 5px;
   box-shadow: 0px 30px 40px -20px var(--grayishBlue);
   padding: 30px;
   margin: 20px;  
   width: 500px;
   height: 220px;
}

.box_down {
   top: 150px;
}

.orange {
   border-top: 3px solid var(--orange);
}

.news {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   border: 1px solid #D1CACA;
   border-radius: 40px;
   background-color: #ffffff;
   margin-bottom: 1rem;
   margin-top: 64px;
   margin-left: 66px;
   width: 400px;
   height: 300px;
}

.span {
   margin-left: 60px;
   margin-top: 38px;
}

.news_content {
   font-size: 20px;
   word-wrap: break-word;
   padding: 25px 18px 6px 18px;
}

.img_news {
   width: 175px;
   height: 112px;
   margin-left: 4.5em;
   align-self: center;
   border: 1px solid #D1CACA;
   border-radius: 40px;
}

img {
   float: right;
}

.outline {
   width: 290px;
   border-bottom: 1px solid #D1CACA;
   margin: 20px 0px;
}
