html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%; /* Garantir que a altura da página seja 100% */
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background-attachment: #000;
}

::-webkit-scrollbar-thumb {
    background: rgb(192, 204, 207);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-attachment: gray;
}

::-webkit-scrollbar:horizontal{
    height: 4px;
}