@import url("https://fonts.googleapis.com/css?family=Kodchasan:400,800");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Kodchasan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  font-family: 'Kodchasan', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary: #003366;
  --secondary: #0251a1;
  --terceary: #533483;
  --red: #E94560;
  --green: #006633;
  --soft-white: #f1f1f1;
  --white: #fefefe;
  --black: #111;
  --gray: #222222;
}

