:root {
   --red: hsl(0, 78%, 62%);
   --cyan: hsl(180, 62%, 55%);
   --orange: hsl(34, 97%, 64%);
   --blue: hsl(212, 86%, 64%);
   --yellow: rgb(241, 225, 91);
   --varyDarkBlue: hsl(234, 12%, 34%);
   --grayishBlue: hsl(229, 6%, 66%);
   --veryLightGray: hsl(0, 0%, 98%);
   --weight1: 200;
   --weight2: 400;
   --weight3: 600;
}

.card {
   border-radius: 5px;
   box-shadow: 0px 30px 40px -20px var(--grayishBlue);
   margin: 10px;  
}

.yellow {
   border-top: 3px solid var(--yellow);;
}

.green {
   border-top: 3px solid hsl(123, 71%, 47%);;
}

.red {
   border-top: 3px solid var(--red);
}

img {
   float: right;
}

.span {
   margin-left: 60px;
   margin-top: 38px;
}

.card_title {
   display: flex;
   justify-content: center;
   text-align: center;
   text-decoration: underline;
   font-size: 15px;
   font-weight: 800;
   word-wrap: break-word;
}

.card_btn {
   width: 50px;
   float: right;
}

.card_description {
   margin: 0px;
   font-size: 12px;
   text-align: justify;
}

.outline {
   width: 350px;
   border-bottom: 1px solid #D1CACA;
   margin: 20px 20px;
}

.selectSemester {
   width: 170px;
   height: 21px;
   margin-left: 21vw;
}

